@charset "UTF-8";
* {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}

main {
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

.container {
  margin: 0 40px;
  min-height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

h2 {
  font-weight: 700;
  line-height: 36px;
  font-size: 24px !important;
  font-family: Roboto, sans-serif;
}

#body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2399999946px;
}

tr {
  -webkit-box-shadow: 0px -1px 0px 0px #eeeff5 inset;
          box-shadow: 0px -1px 0px 0px #eeeff5 inset;
  text-align: left;
}

th,
td {
  padding: 0 8px;
}

td {
  font-size: 16px;
  font-weight: 500;
}

/*===========================================Header==========================================*/
header {
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(44, 57, 121, 0.1019607843);
          box-shadow: 0px 2px 6px 0px rgba(44, 57, 121, 0.1019607843);
  background-color: #fff;
}

.green path {
  fill: #60c2aa;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head svg {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.menu__links .ActiveLink {
  background-color: #60c2aa;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu__links .ActiveLink:hover {
  background-color: #60c2aa;
}

.menu-link {
  border-radius: 200px;
  padding: 4px 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu-link:hover {
  background-color: #f7f7f7;
}

/*====================================Main=================================*/
main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (100vw)[5];
      grid-template: 1fr/repeat(5, 100vw);
  background-color: rgb(246, 246, 246);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 500vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 80px 0;
}

.main__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
}
.main__item .container {
  height: 100%;
  width: 100vw;
}

.main-item {
  display: inline-block;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(44, 57, 121, 0.0901960784);
          box-shadow: 0px 4px 20px 0px rgba(44, 57, 121, 0.0901960784);
  padding: 32px;
  border-radius: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  height: 100%;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.main-item h2 {
  padding-left: 8px;
  padding-bottom: 24px;
}

.main__rating table tr th {
  width: 180px;
}
.main__rating table tr th:nth-child(1) {
  width: 440px;
}

.main__ActivePlayers form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 1fr;
  -ms-grid-columns: (1fr)[2];
      grid-template: 50px 1fr/repeat(2, 1fr);
  width: 860px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__ActivePlayers form ul {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}
.main__ActivePlayers form ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 80px 100px 80px 165px;
      grid-template: 1fr/1fr 100px 165px;
  gap: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.main__ActivePlayers form h2 {
  text-align: start;
}
.main__ActivePlayers form > label {
  text-align: end;
}
.main__ActivePlayers .CheckBox {
  width: 40px;
  height: 20px;
  position: relative;
  margin-top: 3.5px;
}
.main__ActivePlayers input {
  opacity: 0;
  position: absolute;
  width: 40px;
  height: 20px;
  left: 0;
}
.main__ActivePlayers .ActivePlayersCheckbox {
  content: "";
  width: 33px;
  height: 14px;
  background-color: #dcdcdf;
  position: absolute;
  margin: 3px 3.5px;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  left: 0;
  top: 0;
}
.main__ActivePlayers .ActivePlayersCheckbox::after {
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 18px;
  height: 18px;
  background-color: #f7f7f7;
  border-radius: 50%;
  border: solid 1px #dcdcdf;
  position: absolute;
  left: 0;
  top: -2px;
}
.main__ActivePlayers input[type=checkbox]:checked + .ActivePlayersCheckbox::after {
  background-color: #3ba189;
  border: solid 1px #3ba189;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
}
.main__ActivePlayers input[type=checkbox]:checked + .ActivePlayersCheckbox {
  background-color: #60c2aa;
}

.main__history table tr th {
  width: 160px;
}
.main__history table tr th:nth-child(1) {
  width: 680px;
}

.main__ListPlayers table tr th:nth-child(1) {
  width: 440px;
}
.main__ListPlayers table tr th:nth-child(7) {
  width: 190px;
}
.main__ListPlayers table tr th:nth-child(4) {
  width: 160px;
}
.main__ListPlayers table tr th:nth-child(5) {
  width: 160px;
}
.main__ListPlayers > button {
  position: absolute;
  right: 40px;
  top: 30px;
  width: 170px;
  height: 50px;
  border-radius: 12px;
  background-color: #60c2aa;
  color: white;
}

.NewPlayer {
  width: 400px;
  z-index: 999;
  height: 420px;
  padding: 64px 24px 0;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(44, 57, 121, 0.1019607843);
          box-shadow: 0px 2px 6px 0px rgba(44, 57, 121, 0.1019607843);
  border-radius: 16px;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
  background-color: white;
}
.NewPlayer a {
  position: absolute;
  right: 24px;
  top: 24px;
}
.NewPlayer h2 {
  text-align: center;
}
.NewPlayer .formPlace {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 112px 1fr;
      grid-template: 1fr/112px 1fr;
  margin-bottom: 20px;
}
.NewPlayer .formPlace input {
  border: 1px #dcdcdf solid;
  border-radius: 12px;
  padding: 12px 20px;
  width: 100%;
  margin: 20px 0;
}
.NewPlayer .formPlace .name {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
.NewPlayer .formPlace .age {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 24px 8px 48px;
  -ms-grid-columns: 48px 8px 48px;
      grid-template: 24px 48px/48px 48px;
  gap: 8px;
}
.NewPlayer .formPlace .age input {
  width: 72px;
  height: 48px;
  margin: 0;
}
.NewPlayer .formPlace .gender {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 24px 8px 48px;
  -ms-grid-columns: 48px 8px 48px;
      grid-template: 24px 48px/48px 48px;
  gap: 8px;
}
.NewPlayer .formPlace .gender label {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
.NewPlayer .gender-0,
.NewPlayer .gender-1 {
  width: 48px;
  height: 48px;
  position: relative;
}
.NewPlayer img {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 8px;
  top: 8px;
  pointer-events: none;
  z-index: 10;
}
.NewPlayer input[type=radio] {
  width: 48px;
  height: 48px;
  opacity: 0;
  margin-top: 0;
}
.NewPlayer .RadioEdit {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px #dcdcdf solid;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.NewPlayer button {
  width: 100%;
  background-color: #60c2aa;
  padding: 12px 20px;
  border-radius: 14px;
  color: white;
}

#overlay {
  z-index: 77;
  display: none;
  position: absolute;
  top: -100vh;
  left: -100vw;
  width: 200vw;
  height: 200vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.LockStatus {
  z-index: 1;
  width: 100%;
  height: 32px;
  margin: 5px;
  border-radius: 8px;
}

.LockStatus0 {
  background-color: #a8d37f;
  position: relative;
}

.LockStatus0::after,
.LockStatus1::after {
  color: white;
  font-weight: 400;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.LockStatus0::after {
  content: "Активен";
}

.LockStatus1::after {
  content: "Заблокирован";
}

.LockStatus1 {
  background-color: #ec7777;
  position: relative;
}

.LockButton {
  z-index: 1;
  width: 100%;
  gap: 5px;
  background-color: #f7f7f7;
  height: 32px;
  border-radius: 8px;
}

.LockButton1,
.LockButton0 {
  position: relative;
}

.LockButton1::after {
  content: "Разблокировать";
}

.LockButton0::after {
  content: "Заблокировать";
}

.LockButton0::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("/img/none.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.LockButton1::after {
  position: absolute;
  font-weight: 400;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.LockButton0::after {
  position: absolute;
  font-weight: 400;
  right: 10px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.LockButton0::before {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.PlayerF {
  width: 100px;
  height: 32px;
  border-radius: 8px;
}

.PlayerFree,
.PlayerNotFree {
  position: relative;
  background-color: #a8d37f;
}

.PlayerFree::after {
  content: "Свободен";
}

.PlayerNotFree {
  background-color: #87cae8;
}
.PlayerNotFree::after {
  display: inline;
  content: "В игре";
  white-space: nowrap;
}

.PlayerNotFree::after,
.PlayerFree::after {
  color: white;
  font-weight: 400;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.PlayerGo {
  width: 161px;
  height: 48px;
  padding: 12px 20px;
  background-color: #60c2aa;
  border-radius: 12px;
  color: white;
}
.PlayerGo:disabled {
  background-color: #f7f7f7;
  color: #373745;
  cursor: default;
}